@model QuanLyGiaiDau.Models.LoaiGiaiDau

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Loại Giải Đấu</h2>

<script>
    function Start() {
        Get_issn();
        /*Get_loaisanpham(render_lsp);*/
    }
    Start();
    function Get_issn(callback) {
        fetch("https://localhost:44303/api/LoaiGiaiDaus")
            .then(function (res) {
                console.log(res.json());
                1
            })
            .then(callback)
    }
</script>

